@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

:root {
  --pmcol: #ff7300;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

/* for clerk payment drawer  */
.cl-drawerRoot {
  z-index: 100;
}
